.rounded-item{
    border: 3px solid var(--clr-purple);
    border-radius: 12px;
}

.player-name{
    font-weight: 700;
    font-size: 1em;
    align-self: center;
    justify-self: center;
}

.m-auto{
    margin-right:auto;
}

.row-container{
    display: flex;
    justify-content: space-between;
}