a{
    display: flex;
    align-items: center;
    justify-content: center;
    height:43px;
    width:43px;
    border-radius: 100px;
    font-size: 15px;
    box-shadow: -7px -7px 5px rgba(255, 255, 255, 0.8),
                 7px 7px 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(-135deg,  #FFFFFF 8.0524%,#A239CA 41.5795%, #100614 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:visited{
    color:unset;
}
