button{
    height:62px;
    width:200px;
    border-radius: 50px;
    color:#1d2e3a;
    background-color: #e1e6ec;
    font-weight: 700;
    font-size: 30px;
    border:unset;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3),
               -7px -7px 5px rgba(255, 255, 255, 0.8);
               margin:40px 0px;
}

button:hover{
    animation: button-hover 0.4s forwards;  
    animation-timing-function: ease-in-out;         
}

@keyframes button-hover{
    0%{
        height:62px;
        width:200px;
        box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3),
                    -7px -7px 5px rgba(255, 255, 255, 0.8);
    }

    50%{
        height:62px;
        width:200px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3),
                    0px 0px 0px rgba(255, 255, 255, 0.8);
    }

    51%{
        height:62px;
        width:200px;
    }

    52%{
        height:62px;
        width:200px;
        box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.1),
                    inset 0px 0px 0px rgba(255, 255, 255, 0.2);
    }

    60%{
        box-shadow: inset -7px -7px 5px rgba(255, 255, 255, 0.1),
        inset 7px 7px 5px rgba(0, 0, 0, 0.2);
    }

    100%{
        background-color:#1d2e3a;
        color:#e1e6ec;
        /*height:68px;*/
        /*width:220px;*/
        box-shadow: inset -7px -7px 5px rgba(255, 255, 255, 0.3),
                inset 7px 7px 5px rgba(0, 0, 0, 0.2);
    }
}
