i{
    font-size: 2em;
    user-drag: none;
    -webkit-user-drag: none; /* For Safari */
    user-select: none;
    -webkit-user-select: none; /* For Safari */
}

.selected{
    /*background-color:var(--clr-light-piece);*/
}

.dark-player{
    color:var(--clr-dark-piece);
}

.light-player{
    color:var(--clr-light-piece);
}

@media only screen and (max-width: 1200px) {
   
}
