button{
    font-weight: 400;
    font-size: 1.5em;
    background-color:var(--clr-soft-purple);
    color:var(--clr-gray);
    border-radius: 12px;
    padding:0px 10px;
    outline: none;
    border:none;
    border:1px solid var(--clr-purple);
}
