<span [ngClass]="error?'error':''"
    class="pos-rel" [formGroup]="form">
    <i class="{{icon}}"></i>
    <input 
    [ngClass]="error?'red pr':''"
    type="{{placeholder.toLowerCase()}}" 
    name="{{placeholder.toLowerCase()}}" 
    id="{{placeholder}}" 
    placeholder="{{placeholder}}" 
    formControlName="{{placeholder.toLowerCase()}}" 
    autoComplete="on"
    > 
    <lottie-player *ngIf="error" src="../../assets/x2.json" background="transparent"  speed="1"  style="width: 100px; height: 100px;" loop autoplay></lottie-player>
</span>

