input{
    height:62px;
    width:400px;
    border-radius: 100px;
    border:none;
    padding-left: 70px;
    padding-right: 20px;
    padding-top: 8px;
    font-weight: 700;
    font-size: 26px;
    color:#1d2e3a;
    background-color:#e1e6ec;
    box-shadow: inset 7px 7px 5px rgba(0, 0, 0, 0.3),
                inset -7px -7px 5px rgba(255, 255, 255, 1)
}

.pos-rel{
    position:relative;
    display:inline-block;
}

.pos-rel i{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    left: 30px;
}

input::placeholder{
    color:#1d2e3a;
}