<div class="history-container">
    <h1>History</h1>
    <ul>
        <li>
            A4-A5
        </li>
        <li>
            A7-A8
        </li>
        <li>
            A2-A4
        </li>
        <li>
            B6-H6
        </li>
        <li>
            J8-F4
        </li>
        <li>
            A4-A5
        </li>
        <li>
            A7-A8
        </li>
        <li>
            A2-A4
        </li>
        <li>
            B6-H6
        </li>
        <li>
            J8-F4
        </li>
        <li>
            A4-A5
        </li>
        <li>
            A7-A8
        </li>
        <li>
            A2-A4
        </li>
        <li>
            B6-H6
        </li>
        <li>
            J8-F4
        </li>
        <li>
            A4-A5
        </li>
        <li>
            A7-A8
        </li>
        <li>
            A2-A4
        </li>
        <li>
            B6-H6
        </li>
        <li>
            J8-F4
        </li>
    </ul>
</div>
