h1{
    font-size: 36pt;
    font-weight: 700;
    margin-left:10px;
}

.li-dark{
    color:var(--clr-dark-piece);
}

.li-light{
    color:var(--clr-light-piece);
}

.history-container{
    display:flex;
    height:100%;
    width:100%;
    justify-content: flex-start;
    flex-direction: column;
    padding:20px;
    height:500px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: inset -7px -7px 7px var(--clr-light-shadow),
                inset 7px 7px 7px var(--clr-dark-shadow);
    border-radius:40px;
    font-weight: 700;
}

ul{
    list-style-type: none;
    font-size: 1.5em;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    display:none;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0 50px 50px 0px;
    border-radius: 0 50px 50px 0px;
    background: var(--clr-history); 
}

@media only screen and (max-width: 1200px) {
    .history-container{
        height: 360px;
    }
}

@media only screen and (max-width: 900px) {
    .history-container{
        display:none;
    }
}