<div class="footer-container">
    <div class="icon-container">
        <i class="fa-brands fa-github fa-xl"></i>
        <i class="fa-brands fa-instagram fa-xl"></i>
        <i class="fa-brands fa-facebook fa-xl"></i>
        <i class="fa-brands fa-discord fa-xl"></i>
    </div>
    <div class="links-container">
        <a>Contact Us</a>
        <a>Our projects</a>
        <a>Public</a>
    </div>
    <div class="copyright-container">
        CompanyName Copyright © 2023 - All rights reserved || Designed By: <a>Jo-pl</a>
    </div>
</div>
