<div class="main">
    <div class="right">  
            <div class="login-container">
            <div class="top-user-container">
                <div class="user-container">
                    <img class="user-icon" src="../../../assets/user-logo.svg" alt="user-icon"/>                    
                </div>
                <span>Login</span>
            </div>            
            <div class="links-container">
                <app-rounded-icon [icon]="'fa-solid fa-user fa-xl'"></app-rounded-icon>
                <app-rounded-icon [icon]="'fa-solid fa-user fa-xl'"></app-rounded-icon>
                <app-rounded-icon [icon]="'fa-solid fa-user fa-xl'"></app-rounded-icon>
            </div>
            <app-form-input [placeholder]="'Email'" [icon]="'fa-solid fa-user fa-xl'"></app-form-input>
            <app-form-input [placeholder]="'Password'" [icon]="'fa-solid fa-lock fa-xl'"></app-form-input>
            <app-form-button [text]="buttonText"></app-form-button>
        </div>
    </div>
<div>