<div class="main">
    <!--<img class="bg" src="../../../assets/background-login.svg">-->
    <div class="right">  
            <div class="login-container">
            <div class="top-user-container">
                <div class="user-container">
                    <img class="user-icon" src="../../../assets/user-logo.svg" alt="user-icon"/>                    
                </div>
                <span>Login</span>
            </div>            
            <div class="links-container">
                <a href="#"><i class="fa-solid fa-user fa-xl"></i></a>
                <a href="#"><i class="fa-solid fa-user fa-xl"></i></a>
                <a href="#"><i class="fa-solid fa-user fa-xl"></i></a>
            </div>
            <span class="pos-rel"><i class="fa-solid fa-user fa-xl"></i><input type="email" name="" id="email" placeholder="Email"></span>
            <span class="pos-rel"><i class="fa-solid fa-user fa-xl"></i><input type="password" name="" id="password" placeholder="Password"></span>
            <button type="submit">Submit</button>
        </div>
    </div>
<div>