.board-grid{
    display:grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(8, 100px);
    grid-auto-rows: 100px;
}

.board-col{
    display: contents;
}

@media only screen and (max-width: 1800px) {
    .board-grid{
        grid-template-columns: repeat(8, 75px);
        grid-template-rows: repeat(8, 75px);
    }
}

@media only screen and (max-width: 1200px) {
    .board-grid{
        grid-template-columns: repeat(8, 45px);
        grid-template-rows: repeat(8, 45px);
    }
}

.square{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
}

.dark-square{
    background-color:var(--clr-text);
}